---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";
import Layout from "../layouts/Navbar.astro";  // Use the Navbar layout
import WalletCreationModal from "../components/WalletCreationModal.astro";
import { Card, CardHeader, CardContent } from "@/components/ui/card";
import { UserCard } from "@/components/react/UserCard";


---

<Layout title="Dashboard">
      <div class="text-center sm:text-left">
      <h1 class="font-bold text-white">
        Dashboard
      </h1>
      </div>
</Layout>



