---
import Layout from "../layouts/Layout.astro";
import ErrorComponent from "../components/ErrorComponent.astro";
import { RegisterForm } from "@/components/react/RegisterForm";
const errorMessage = Astro.url.searchParams.get("error");
console.log(errorMessage)

---

<Layout title="Register">
  <div class="min-h-screen flex items-center justify-center bg-[#0e0e0e]">
    <div class="w-full max-w-md p-8 space-y-8 bg-[#1f1f1f] rounded-lg shadow-lg">
      <p class=" text-gray-300 font-bold">Already have an accounnt?
      <a href="/signin" class="text-gray-500 hover:underline">sign in</a>
      </p>
      <RegisterForm client:visible/>
    </div>
  </div>
</Layout>

<script>
  // Simple client-side validation for password confirmation.
</script>