---
import Layout from "../layouts/Navbar.astro";

const user = Astro.locals.user
---

<Layout title = "Wallet" user={user}>
    <div class="conatiner mx-auto py-8">
        <h1 class="text-3xl font-bold text-whute mb-8">MST Wallet</h1>
        
    </div>

</Layout>